
@{
    ViewData["Title"] = "jQuery";
}

<h1>jQuery</h1>
<button id="buttonGet" class="btn btn-primary">get</button>
<button id="buttonPost" class="btn btn-secondary">post</button>
<button id="buttonJson" class="btn btn-success">getJson</button>
<button id="buttonJson1" class="btn btn-success">getJson</button>
<button id="buttonLoad" class="btn btn-info">load</button>
<button id="buttonAjax" class="btn btn-warning">ajax</button>
<button id="buttonCors" class="btn btn-danger">cors</button>
<div class="alert alert-dark mt-3 w-50" role="alert" id="divAlert">
    <ul>
    </ul>
</div>
@section Scripts{
    <script>
        $('#buttonGet').click(function () {
            $.get('@Url.Content("~/api/getDemo")',{"name":"jack", "age": 24},function(data){
            $('#divAlert').text(data)
            })
        })

        $('#buttonPost').click(function () {
            $.post('@Url.Content("~/api/getDemo")', { "name": "mary", "age": 34 }, function (data) {
       $('#divAlert').text(data)
            })
        })

        $('#buttonJson').click(function () {
            $.getJSON('@Url.Content("~/api/cities")', function (datas) {
                const docFrag = $(document.createDocumentFragment());//這是一個容器，先建立一個容器不然在$.each 裡面迴圈每一次都會append data進去一次 效能很差
                const theul = $('#divAlert>ul') //這邊一樣先宣告在外面，裡面就不會每一次都要找一次要放的位置，這樣也能提高效能
                $.each(datas,function(idx,city){
                    const item = $('<li></li>').text(city) //jquery寫法 $('')
                    docFrag.append(item)
                })
                theul.html(docFrag)
            })
        })

        //$('#buttonjson1').click(function(){
        //    $.getJSON('@Url.Content("~/api/District")',{"city":"金門縣"},function(datas){
        //        const docFrag = $(document.createDocumentFragment());
        //        const theul1 = $('divAlert>ul>li')
        //        $.each(datas, function (idx, SiteId){
        //            const item =$('<ol></ol>').text(city)
        //            docFrag.append(item)
        //        })
        //        theul1.html(docFrag)
        //    })
        //})

        //使用partialview
        $('#buttonLoad').click(function () {
            $('#divAlert').load('@Url.Content("~/Home/partial2")')
        })


        $('#buttonAjax').click(function () {
            $.ajax({
                'url': '@Url.Content("~/api/cities")',
                'type':'post',
                'dataType':'json'
                //'success':function(data){
                //    $('#divAlert').text(data)
                //}
            })
            .done(function(datas){
                    const docFrag = $(document.createDocumentFragment());//這是一個容器，先建立一個容器不然在$.each 裡面迴圈每一次都會append data進去一次 效能很差
                    const theul = $('#divAlert>ul') //這邊一樣先宣告在外面，裡面就不會每一次都要找一次要放的位置，這樣也能提高效能

                    $.each(datas, function (idx, city) {
                        const item = $('<li></li>').text(city) //jquery寫法 $('')
                        docFrag.append(item)
                    })
                    theul.html(docFrag)
                })
            })
        
        $('#buttonCors').click(function () {
            $.getJSON('https://localhost:7247/api/Shippers',function(datas){
                console.log(datas)
            })
            
        })

    </script>
}